{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %} | My Account-Reset Password - {{ block.super }}  {% endblock %}

{% block content %}
   <div id="container">
    <!-- start header -->
    <div id="header">

    <!-- if user is authenticated , dislay menu-->
    
   {% if user.is_authenticated %}
      <div class="menu">
        <ul>
          <li class="current_page_item"><a href="/">Home</a></li>
        <li class="current_page_item">
          <a href="{% url 'accounts:get_user_profile' request.user.username %}">Profile</a></li>
        <li><a href="{% url 'accounts:profile_detail' request.user.username %}">Account</a></li>
      </ul>
      </div>
    {% endif %}
    
    <!-- if user is authenticated , dislay menu-->

    </div>
    <!-- end header -->

    <div id="conatiner">
      <div class="row-fluid">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h2>Password Reset</h2>
          <hr>
            {% if messages %}
                {% for message in messages %}
                  <p class="alert alert-info">{{ message }}</p>
                {% endfor %}
            {% endif %}

          <strong>
            <p>If you do not know your current password, you may reset it. 
            <br> Enter your E-mail to receive the reset link.</p>
          </strong><br>
             <form method="post" action="">
                 {% csrf_token %}
                 <div class="form-group">
                  <input type="hidden" name="next" value="{{ next }}">
                  <input type="email" name="email" class="form-control form-rounded" placeholder="Email" required>
                   <!-- {{ form|crispy }} -->
                 </div><br>
                 <button class="btn btn-primary btn-block rounded-pill" type="submit">Send</button>
             </form>
        </div>
      </div>
  </div>
   </div>
{% endblock %}