{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %} | My Account-Password Change - {{ block.super }}  {% endblock %}

{% block content %}
  <div class="container">
      <!-- start header -->
    <div id="header">

      <div class="menu">
        <ul>
          <li class="current_page_item"><a href="/">Home</a></li>
        <li class="current_page_item">
          <a href="{% url 'accounts:get_user_profile' user.username %}">Profile</a></li>
        <li><a href="{% url 'accounts:profile_detail' pk=user.id %}">Account</a></li>
      </ul>
      </div>

    </div>
    <!-- end header -->

    <div id="container">
      <div class="row-fluid">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h2 class="flow-text">Password Change </h2>
          <hr>
            {% if messages %}
                {% for message in messages %}
                  <p class="alert alert-info alert-dismissible fade show">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  </p>
                {% endfor %}
            {% endif %}
             <br>

             <div class="shadow">
                <div class="card shadow bg-light mb-3"style="max-width: 35rem;">
                  <div class="card-img-top">
                    <div class="navbar-custom">
                      <img width="30" height="30" src="{% static 'images/social_discuss7.png' %}">
                       <a class="navbar-brand logo-text" href="/">Tekit</a>
                    </div>
                  </div>
                  <small class="card-header text-muted">
                    <strong>
                      <p>If you want to change your current password, you may change it here.
                      <br> Enter your New Paswword in the field below.</p>
                    </strong>
                  </small><br>
                  <div class="card-body">
                    <form action="" method="post">

                       {% csrf_token %}
                       <input type="hidden" name="next" value="{{ next }}">

                       <div class="form-group">

                        <label for="id_old_password">Old password:</label>
                        <input type="password" name="old_password" class="form-control form-rounded" id="id_old_password" placeholder="" required=""> <br>

                        <label for="id_new_password1">New password:</label>
                        <input type="password" name="new_password1" class="form-control form-rounded" id="id_new_password1" placeholder="" required=""> <br>
                        
                        <label for="id_new_password2">Confirm password:</label>
                        <input type="password" name="new_password2" class="form-control form-rounded" id="id_new_password2" placeholder="" required>
                        <!-- {{ form|crispy }} -->
                       </div><br>

                       <button class="btn btn-primary btn-block rounded-pill" type="submit"><strong>Set New Password</strong></button>
                    </form>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}