{% extends 'base.html' %}


{% block title %} | My Account-Password Reset Done - {{ block.super }}  {% endblock %}

{% block content %}
   <div class="container p-5">
      <div class="col-lg-6 col-md-6 col-sm-6">
      	<h2>Password Reset</h2>
        <hr>
      	<p class="ml-auto p-2">
          <strong>Email sent</strong> <br>
      	  We've sent you a link to reset your password, check your Inbox.
      	</p>
      	<p class="ml-auto p-2">
      	  If you don't receive the email, please check your spam folder.
      	</p>

        <a class="btn btn-primary btn-block rounded-pill" href="{% url 'accounts:_login' %}">Done</a>
      </div>
   </div>
{% endblock %}