{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %} | My Account-Reset Password - {{ block.super }}  {% endblock %}

{% block content %}
   <div id="container">
    <!-- start header -->
    <div id="header">

      <div class="menu">
        <ul>
          <li class="current_page_item"><a href="/">Home</a></li>
        <li class="current_page_item">
          <a href="{% url 'accounts:get_user_profile' request.user.username %}">Profile</a></li>
        <li><a href="{% url 'accounts:profile_detail' request.user.username %}">Account</a></li>
      </ul>
      </div>

    </div>
    <!-- end header -->

    <div id="conatiner">
      <div class="row-fluid">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h2>Password Reset</h2>
          <hr>
            {% if messages %}
                {% for message in messages %}
                  <p class="alert alert-info">{{ message }}</p>
                {% endfor %}
            {% endif %}

          
          {% if validlink %}
           
              <div class="shadow">
                <div class="card shadow bg-light mb-3"style="max-width: 35rem;">
                  <div class="card-img-top">
                    <div class="navbar-custom">
                      <img width="30" height="30" src="{% static 'images/social_discuss7.png' %}">
                       <a class="navbar-brand logo-text" href="/">Tekit</a>
                    </div>
                  </div>
                  <small class="card-header text-muted"> <strong>
                    <p>Enter your new Password here.</p>
                  </strong>
                  </small><br>
                  <div class="card-body">
                    <form method="post" action="">
                       {% csrf_token %}
                      
                        <div class="form-group">
                          <input type="hidden" name="next" value="{{ next }}">

                          <label for="id_new_password1">New password:</label>
                          <!-- <input type="password" name="new_passwords" class="form-control form-rounded" placeholder="New Password" required> -->
                          <input class="form-control form-rounded" type="password" id="id_new_password1" name="new_password1" placeholder="" required="">

                          <br>
                          <label for="id_new_password2">Confirm password:</label>
                          <!-- <input type="password" name="new_password2" class="form-control form-rounded" placeholder="Password Confirm" required> -->
                          <input class="form-control form-rounded" type="password" id="id_new_password2" name="new_password2" placeholder="" required>
                           <!-- {{ form|crispy }} -->
                         </div>
                        <button class="btn btn-primary btn-block rounded-pill" type="submit">Reset Password</button>
                    </form>
                  </div>
                </div>
              </div>
             <br>
            {% else %}
             <h4>Password reset unsuccessful</h4>
             <p>The link was invalid, possibly because it is expired or has already been used. 
              <br>Please request a new link <a href="{% url 'accounts:password_reset' %}">here</a>.</p>
            {% endif %}
        </div>
      </div>
  </div>
   </div>
{% endblock %}