
       {% autoescape off %}
       Hi <strong>{{user.username }}</strong>

       Please click on the link below to reset your password.
       If you did not make this request, please ignore this email.

       If you did request to reset your password, click on the button below and enter in a new password.

       <a class="btn btn-primary btn-block" href="{{protocol}}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}">RESET YOUR PASSWORD</a>

       Your username is: {{ user.get_username }}

       Thanks,
       The Beam Team
       
       {% endautoescape %}
