{% extends 'base.html' %}
{% load static %}


{% block title %} | My Account-Password Reset Complete - {{ block.super }}  {% endblock %}

{% block content %}
   <div class="container p-5">
   	<div class="container">
      <div class="col-lg-6 col-md-6 col-sm-6">
      	<h2>Password Reset complete</h2>
        <hr>
      	<div class="shadow">
      		<div class="card shadow bg-light mb-3"style="max-width: 30rem;">
      			<div class="card-img-top">
      				<div class="navbar-custom">
	      				<img width="30" height="30" src="{% static 'images/social_discuss7.png' %}">
	                    <a class="navbar-brand logo-text" href="/">Tekit</a>
                    </div>
      			</div>
      			<small class="card-header text-muted"> {{ user.username }} </small>
      			<div class="card-body">
      				<strong>Success!</strong> <br><br>
      				<p class="m-auto">Your password has been updated.</p>
      			</div>
      		</div>
      	</div>
      	
      	<a class="btn btn-primary btn-block rounded-pill" href="{% url 'accounts:_login' %}">Continue</a>
      </div>
    </div>
   </div>
{% endblock %}