  <!--  f o o t e r -->
      <footer class="white-section" id="footer">
         <div class="container-fluid">
          <i class="social-icon fab fa-facebook-square"></i>
          <i class="social-icon fab fa-twitter-square"></i>
          <i class="social-icon fab fa-instagram"></i>
          <i class="social-icon fas fa-envelope-square"></i>
          <p class="copyright footer-title-style">
            <small><a href="">BeaM, Inc &nbsp ©<script>document.write(new Date().getFullYear())</script></a>. All rights reserved</small></p>
        </div>
      </footer>
  <!-- end footer -->