{% extends 'base.html' %}


{% block content %}
 <!-- start sidebar -->
  <!-- <div id="sidebar"> -->
    <ul>
      <li id="categories">
        <h4>F A A N G</h4>
        
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Apple</a></li>
          <li><a href="#">Amazon</a></li>
          <li><a href="#">Netflix</a></li>
          <li><a href="#">Google</a></li>
     
      </li>

       <h4>IT Learning</h4>
       <ul>
         <li><a href="#">Google IT Certificate</a></li>
         <li><a href="#">Coursera</a></li>
         <li><a href="#">MIT</a></li>
         <li><a href="#">Microsoft</a></li>
         <li><a href="#"></a></li>
       </ul>

       <h4>Programming</h4>
       <ul>
          <li id="categories">
            <li><a href="#">Python</a></li>
            <li><a href="#">Machine Learning</a></li>
            <li><a href="#">Deep Learning</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">Java</a></li>
          </li>
        </ul>
    </ul>
 <!--  </div> -->
    <div class="clear"></div>

<!-- end sidebar -->
{% endblock %}