

{% block page_header %}
    <header class="masthead">
      <div id="container">
    			<div class="row">
	    				<div class="col-md-8 col-md-10 mx-auto">
	    					<div class="site-heading">
                  {% if user.is_authenticated %}
  	    						<p class="lead">
  	    							<a class="logo-text" href="">Tekit</a> is a social Tech platform for sharing your tech experience in your life, business or at work with friends or co-workers.
                      <a class="btn btn-info btn-sm rounded-pill" data-toggle="" data-target="" href="{% url 'feed:new_topic' %}">New Topic &raquo;</a>
  	    						</p>

  	    					{% else %}
                     <p class="lead">
                      <a class="logo-text" href="">Tekit</a> is a social Tech platform for sharing your tech experience in your life, business or at work with friends or co-workers.
                      <a class="btn btn-primary btn-sm rounded-pill" data-toggle="modal" data-target="#authModal" href="{% url 'accounts:register' %}">+Join &raquo;</a>
                    </p>
                    
                  {% endif %}
	    					</div>
	    				</div>
    			</div>
      </div>
    </header>
{% endblock page_header %}




