

{% block page_header %}
    <header class="masthead">
      <div id="container">
          <div class="row">
              <div class="col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                  {% if user.is_authenticated %}
                  <div class="alert-banner error">
                    <p class="lead">
                      <!-- <a class="logo-text" href="">Tekit</a> --> <small>Share Tech stories with friends, colleagues on social media.</small>
                      <a class="btn btn-info btn-sm rounded-pill" data-toggle="" data-target="" href="{% url 'feed:new_topic' %}">+New Topic &raquo;</a>
                    </p>
                  </div>

                  {% else %}
                  <div class="alert-banner error">
                     <p class="lead">
                      <!-- <a class="logo-text" href="">Tekit</a> --> <small>Register to share your Tech stories with friends on social media.</small>
                      <a class="btn btn-primary btn-sm rounded-pill" data-toggle="modal" data-target="#authModal" href="{% url 'accounts:register' %}">+Join &raquo;</a>
                    </p>
                  </div>
                  {% endif %}
                </div>
              </div>
          </div>
      </div>
    </header>
{% endblock page_header %}




