{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %} | My Account-Password Change - {{ block.super }}  {% endblock %}

{% block content %}
   <div class="container p-5">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2 class="jumbotron" style="height: 10px; width: 520px">Change Password</h2>
        <hr>
          {% if messages %}
              {% for message in messages %}
                <p class="alert alert-info">{{ message }}</p>
              {% endfor %}
          {% endif %}
           <br>
           <form action="post">
               {% csrf_token %}
               <div class="form-group">
                <!-- <input type="hidden" name="next" value="{{ next }}"> -->
                <input type="password" name="new_passwprd" class="form-control form-rounded" placeholder="Type your new password here" required>
                 <!-- {{ form|crispy }} -->
               </div><br>
               <button class="btn btn-primary btn-block rounded-pill" type="submit">Confirm</button>
           </form>
      </div>
    </div>
   </div>
{% endblock %}