{% extends 'base.html' %}

{% block title %} | Password Reset {% endblock %}

{% block content %}
   <div class="container p-5">
        <h2 class="jumbotron">Forgot your password?</h2>
       <p>Enter your e-mail address.
           You will receive a link to reset your password..</p>
       <form action="{% url %}">
           {% csrf_token %}
           <div class="form-group">
                <label for="email">Email</label>
               <input type="email" name="email" class="form-control" required>
           </div>
           <button class="btn btn-primary" type="submit">Send email</button>
       </form>
   </div>
{% endblock %}