{% extends 'base.html' %}


{% block title %} | My Account-Password Reset Done - {{ block.super }}  {% endblock %}

{% block content %}
   <div class="container p-5">
      <div class="col-lg-6 col-md-6 col-sm-6">
      	<h2>Password Reset sent</h2>
        <hr>
      	<p class="ml-auto p-2">
      	  We've sent you a reset link , check your email to reset your password.
      	</p>
      	<p class="ml-auto p-2">
      	  If you don't receive an email, please check your spam folder.
      	</p>
      	<p class="ml-auto p-2">
      		<a href="{% url 'feed:index' %}">Back to home page</a>
      	</p>
      </div>
   </div>
{% endblock %}