{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %} | My Account-Reset Password  {% endblock %}

{% block content %}
   <div class="container p-5">
        <h2 class="jumbotron">Reset password</h2>
        <strong>
          <p>If you do not know your current password, you may change it. 
            <br> Enter your E-mail to receive the reset link</p>
        </strong>
      
       <form action="{% url 'accounts:password_reset_request' %}">
           {% csrf_token %}
           <div class="form-group">
            <input type="hidden" name="next" value="{{ next }}">
             {{ form|crispy }}
           </div>
           <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
       </form>
   </div>
{% endblock %}