{% extends 'base.html' %}

{% block title %}Tekit | Profile Details - <b>{{ block.super }}</b> {% endblock %}

{% block content %}

<div id="container">
	<!-- start header -->
	<div id="header">

	  <div class="menu">
	    <ul class="sf-menu nav-menu">
	    	<li class="current_page_item"><a href="/"><i class="fa fa-reply-all"></i> Go to Feeds</a></li>
	 		<li class="current_page_item">
	 			<a href="{% url 'accounts:get_user_profile' request.user.username %}">Profile</a></li>
	 		<li><a href="{% url 'accounts:password_change' %}">Change Password</a></li>
	 		<li><a href="{% url 'accounts:members' %}">Members</a></li>
	 	</ul>
	  </div>

	</div>
	<!-- end header -->

	<div class="clear"></div>
	 <!-- start sidebar -->
    <div id="sidebar">
    	 {% include 'partials/_sidebar.html' %}
    </div>
    <!-- end sidebar -->

    <div id="container">
    	<div class="row-fluid">
    		<div class="col-lg-6 col-md-6 col-sm-6">
    			
    			<div class="card bg-light mb-3" style="max-width: 35rem;">
		      		<div class="card-header"><h4><b>{{ u_profile.name}}</b></h4></div>
		      		  {% if  u_profile.picture %}
                        <img class="img-responsive rounded-circle profil-img" src="{{ u_profile.picture.url }}" alt=""> 
                      {% endif %}
                      
			      		<div class="card-body">
			      			
			      			<p>UserName: <b>{{request.user.username}}</b></p>
			      			<p>Email: <b>{{ request.user.email }}</b></p>
			      			<p>Phone: <b>{{ u_profile.phone_no }}</b></p>
			      			<p>Birthdate: <b>{{ u_profile.birthdate }}</b></p>
			      			<p>City: <b>{{ u_profile.city }}</b></p>
			      			<p>State: <b>{{ u_profile.state }}</b></p>
			      			<p>Status: <b>{{ u_profile.status }}</b></p>
			      			<p>Date Joined: <b>{{ u_profile.date_added }}</b></p>
			      			<!-- <p>Next Birthdate: <b>{{ next_birthday }}</b></p> -->

					    </div>
			    </div>  

			</div>
		</div>
	</div>
</div>
{% endblock %}