{% extends 'base.html' %}

{% block title %}Tekit | Profile Details - <b>{{ block.super }}</b> {% endblock %}

{% block content %}

<div id="container">
	<!-- start header -->
	<div id="header">

	  <div class="menu">
	    <ul class="sf-menu nav-menu">
	    	<li class="current_page_item"><a href="/"><i class="fa fa-reply-all"></i> Go to Feeds</a></li>
	 		<li class="current_page_item">
	 			<a href="{% url 'accounts:get_user_profile' user.username %}">Profile</a></li>
	 		<li><a href="{% url 'accounts:password_change' %}">Change Password</a></li>
	 		<li><a href="{% url 'accounts:members' %}">Members</a></li>
	 	</ul>
	  </div>

	</div>
	<!-- end header -->

	<div class="clear"></div>
	 <!-- start sidebar -->
    <div id="sidebar">
    	 {% include 'partials/_sidebar.html' %}
    </div>
    <!-- end sidebar -->

    <div id="container">
    	<div class="row-fluid">
    		<div class="col-lg-6 col-md-6 col-sm-6">
    			<h2 class="flow-text">Profile details</h2>
	          <hr>
	            {% if messages %}
	                {% for message in messages %}
	                  <p class="alert alert-info alert-dismissible fade show">{{ message }}
	                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					  </button>
					  </p>
	                {% endfor %}
	            {% endif %}
	             <br>
    			<div class="card bg-light mb-3" style="max-width: 35rem;">

		      		<div class="card-header"><h4><b>{{ profile.first_name}}</b></h4></div>
		      		  {% if  profile.picture %}
                        <img class="img-responsive rounded-circle profil-img" src="{{ profile.picture.url }}" alt=""> 
                      {% endif %}

                       {% if profile.followed == true and profile.followed_by != from_user %}
                        <p class="alert alert-warning alert-link" role="alert"><b>{{ profile.first_name }}</b> is following you!</p>
                       {% endif %}
                      
			      		<div class="card-body">
			      			
			      			<p>UserName: <b>{{request.user.username}}</b></p>
			      			<p>Email: <b>{{ request.user.email }}</b></p>
			      			<p>Phone: <b>{{ profile.phone_no }}</b></p>
			      			<p>Birthdate: <b>{{ profile.dob }}</b></p>
			      			<p>City: <b>{{ profile.city }}</b></p>
			      			<p>State: <b>{{ profile.state }}</b></p>
			      			<p>Status: <b>{{ profile.status }}</b></p>
			      			<p>Date Joined: <b>{{ profile.date_added }}</b></p>
			      			<p class="alert alert-warning alert-link" role="alert">Next Birthday: <b>{{ profile.next_birthday }}</b></p>

					    </div>
			    </div>  

			</div>
		</div>
	</div>
</div>
{% endblock %}