{% extends 'base.html' %}

{% block title %}Tekit | Profile Details - <b>{{ block.super }}</b> {% endblock %}

{% block content %}
 <div class="row">
 	<div class="col-lg-6 col-md-6 col-sm-6">
 		<h4>Profil Details</h4>
 		<hr>
 	{% if user %}
 		<dl class="dl-horizontal">
 		
 			<dt>Name</dt>
 			<dd>{{ request.user.name }}</dd>

 			<dt>Username</dt>
 			<dd>{{ request.user.username }}</dd>

 			<dt>Email</dt>
 			<dd>{{ request.user.email }}</dd>

 			<dt>Phone</dt>
 			<dd>{{ request.user.phone_no }}</dd>

 			<dt>Date Joined</dt>
 			<dd>{{ request.user.dated_added }}</dd>

 			<dt>About me</dt>
 			<dd>{{ request.user.about_me }}</dd>

 			<dt>City</dt>
 			<dd>{{ request.user.city }}</dd>
   
 		</dl>
 	{% endif %}
 	</div>
 	<div class="col-lg-6 col-md-6 col-sm-6">
 		<h4></h4>
 		<p>
 			<a href="{% url 'accounts:user_profile' request.user.username %}">My Profile</a>
 			<a href="{% url 'accounts:profile_detail' request.user.id %}">Account Details</a>
 			<a href="{#% url 'accounts:password_change' request.user.id %}">Change Password</a>
 		</p>
 	</div>
 </div>
{% endblock %}