{% extends 'base.html' %}

{% load static %}

{% block title %}Tekit | Account Settings - <b>{{ block.super }}</b> {% endblock %}

{% block content %}
 <div class="row">
 	<div class="col-lg-6 col-md-6 col-sm-6">
 		<h4>Change Account Preferences</h4> <hr>

 		{% if messages %}
 		 {% for message in messages %}
 		  <p class="alert alert-info alert-dismissible fade show">{{ message }}
 		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
					</p>
 		 {% endfor %}
 		{% endif %}

 		<form action="" method="post" class="form-horizontal">
 			{% csrf_token %}
 			<table class="table">
 				{{ form.as_table }}
 				<tr>
 					<td>&nbsp;</td>
 					<td><button type="submit" class="btn btn-primary btn-sm rounded-pill"></button></td>
 				</tr>
 			</table>
 		</form>
 	</div>
 	<div class="col-lg-6 col-md-6 col-sm-6">
 		<h4></h4>
 		<p>
 			<a href="{% url 'accounts:get_user_profile' pk=user.id %}">My Profile</a>
 			<a href="{% url 'accounts:profile_detail' pk=user.id %}">Account Details</a>
 			<a href="{% url 'accounts:password_change' %}">Change Password</a>
 		</p>
 	</div>
 </div>
{% endblock %}