{% extends 'base.html' %}

{% block title %} <b>{{ page_title }}</b> {% endblock %}

{% block content %}
 <div id="container">
 		<!-- start header -->
	<div id="header">

	  <div class="menu">
	    <ul class="sf-menu nav-menu">
	    	<li class="current_page_item"><a href="/"><i class="fa fa-reply-all"></i> Go to Feeds</a></li>
	 		<li class="current_page_item">
	 			<a href="{% url 'accounts:get_user_profile' pk=user.id %}">Profile</a></li>
	 		<li><a href="{% url 'accounts:password_change' %}">Change Password</a></li>
	 	</ul>
	  </div>

	</div>
	<!-- end header -->
    {% for member in userprofile_list %}

     <div class="card bg-light mb-3" style="max-width: 35rem;">
     	<div class="card-header"><h4><b>{{ page_title }}</b></h4></div>
     	<div class="card-body">
     		<p> <b>{{ member.first_name}}</b></p>
			<p> <b>{{ member.status }}</b></p>
	    </div>

	    <div class="message-section" style="display:none;"></div>
	    {% if member.followed %}
	     <a href="{% url 'accounts:follow' request.user.username %}" class="btn btn-danger btn-sm rounded-pill follow-button">UnFollow</a>
	    {% else %}
	     <a href="{% url 'accounts:follow' request.user.username %}" class="btn btn-danger btn-sm rounded-pill follow-button">Follow</a>
	    {% endif %}

	    <p>Follower : {{from_user}} Following : {{followed}}</p>
	 </div>
	 

	{% endfor %}
 </div>


<!-- <script type="text/javascript">
	$('.follow-button').click(function() {
		$.get($(this).data('url'), function(response) {
        $('.message-section').text(response.message).show();
    });
});

</script> -->
{% endblock %}
