{% extends 'base.html' %}

{% block title %} | Welcome {% endblock %}


{% block page_header %}
  <section id="showcase">
    <header class="masthead">
	    <div class="container">
	    	<div class="row">
	    		<div class="overlay py-5">
		    		<div class="col-md-8 col-md-10 mx-auto">
		    			<div class="site-heading">
		                  {% if user.is_authenticated %}
		  	    						<p class="lead">
		  	    							<a class="logo-text" href="">Tekit</a> is a social platform for sharing your Technology history with others. How Technology change your life or your business. Share and learn track your feeds, for any topic from others.
		  	    						</p>

		  	    					{% else %}
		                     <p class="lead">
		                      <a class="logo-text" href="">Tekit</a> is a social platform for sharing your Technology history with others. How Technology change your life or your business. Share and learn track your feeds, for any topic from others.
		                      <a class="btn btn-primary" href="{% url 'accounts:register' %}">+Join &raquo;</a>
		                    </p>
		                    
		                  {% endif %}
			    		</div>
			    	</div>
		    	</div>
	    	</div>
	    </div>
    </header>
 </section>
 <br>
{% endblock page_header %}

{% block content %}
  {% block sidebar %} {% include 'partials/sidebar.html' %} {% endblock sidebar %}
    <section id="feedlist" class="py-5">
		<div class="container">
			<div class="jumbotron">
				<div class="row">
					<div class="col-md-6">
						{% if hot_topics_list %}
							<div class="panel panel-succes">
								<div class="panel-heading">
									<h2 class="panel-title">
										<i class="circle-up fa fa-arrow-circle-up"
										aria-hidden="true"></i> Hot topics
									</h2>
								</div>
								<div class="panel-body">
									{% include 'feed/topics.html' with topics_list=hot_topics_list hot_topics=False %}

									{% if show_more_link_hot_topics %}
									 <p>
									 	<a href="/feed/hot_topics/">See more hot topics</a>
									 </p>
									{% endif %}
								</div>
							</div>
                        {% endif %}
                        {% if topics_list %}

                         {% include 'feed/topics.html' with topics_list=topics_list hot_topics=False %}
                         {% if show_more_link_topics %}
                          <p>
                          	<a href="feed/topics/">See all topics</a>
                          </p>
                         {% endif %}
                        {% endif %}
						 <h3 class="text-center mb-3">
						 	<i class="circle-up-right fa fa-arrow-circle-right"
										aria-hidden="true"></i>
						 Latest Posts</h3>
					      
					   
					    {% if feeds %}
					      {% for feed in feeds %}
					        <div class="card bg-light mb-3 px-3"style="max-width: 25rem;">
							  {% if feed.image %}
				                <div class="card-img-top">
				                	<img src="{{ feed.image.url }}" alt="">
				                </div>
							   {% endif %}

								<small class="card-header text-muted">
								  Post by {{ user.username }} | {{ feed.date_added | date:'M d, Y H:i, a' }}
								</small>

								<div class="card-body">
									<p card-text>
										<!-- Limited the words on the excerpts to 400 characters-->
										{{ feed.text|slice:":300" }}
									</p>
									 <a href="{% url 'feed:feed_detail' pk=feed.pk  %}" class="text-muted"><small>Comments: {{ feed.comments.count}} comments</small></a><br>
									 <a href="{% url 'feed:feed_detail' feed.id  %}" class="btn btn-primary btn-sm">Read More &rarr;</a>
								</div>
							</div>
						   {% empty %}
					          <li class="card-text"><h3>No feed has been added yet.</h3></li>
					      {% endfor %}
					</div>
					    {% else %}
					     <p><a class="btn btn-primary" href="">New Feed</a></p>
					    {% endif %}
				</div>
			  
		    </div>
		    
		</div>
    </section>
{% endblock %}