{% extends 'base.html' %}
{% load static %}

{% block title %} Tekit | Welcome {% endblock %}


{% block page_header %}

  <section id="showcase">
   {% include 'partials/_topnote.html' %}
 </section>
 <div class="clear"></div>

{% endblock page_header %}


{% block content %}

     <!-- Preloader Start -->
      <div id="preloader-active">
          <div class="preloader d-flex align-items-center justify-content-center">
              <div class="preloader-inner position-relative">
                  <div class="preloader-circle"></div>
                  <div class="preloader-img pre-text">
                    <img src="{% static 'images/social_discuss8.png' %}" alt="tekit-image">
                    <h3 class="">BeaM Inc.</h3>
                  </div>
              </div>
          </div>
      </div>
      <!-- End Preloader -->

     <!-- start sidebar -->
    <div id="sidebar">
    	 {% include 'partials/_sidebar.html' %}
    	 
    </div>
    <!-- end sidebar -->

  {% block sidebar %} {% endblock sidebar %}

<div id="container">
    <section id="feedlist" class="py-5">
		<div class="top-feed-container">
			<!-- <div id="container" class="jumbotron"> -->
				<div class="row">
					<div class="col-md-6">
						 {% if messages %}
			                {% for message in messages %}
			                 <p class="alert alert-info alert-dismissible fade show">{{ message }}
			                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							    <span aria-hidden="true">&times;</span>
							  </button>
							 </p>
			                {% endfor %}
			             {% endif %}
						{% if hot_topics_list %}
							<div class="panel panel-succes">

									<div class="panel-heading">
										<h4 class="panel-title">
											<i class="circle-up fa fa-arrow-circle-up"
											aria-hidden="true"></i> Hot topics
										</h4>
									</div>
								  
									<div class="panel-body">
										{% include 'feed/topics.html' with topics_list=hot_topics_list hot_topics=True %}

										{% if show_more_link_hot_topics %}
										 <p>
										 	<a href="/topics/hot_topics/">See more hot topics</a>
										 </p>
										{% endif %}
									</div>
								
							</div>
                        {% endif %}
                	</div>
					 
                        <hr>
	                        {% if topics_list %}
	                         <div class="col-sm-6">
	                         	<div class="card-deck">
                                 
					            
					            <div class="panel-heading">
									<h4 class="panel-title"> Topics</h4>
								</div>
					            <div class="panel-body">
					                  {% include 'feed/topics.html' with topics_list=topics_list hot_topics=False %}
	                                   {% if show_more_link_topics %}
	                                     <p>
	                                     	<a href="topics/all/">See all topics</a>
					                     </p>
					                    {% endif %}
				                </div>
	                        </div>
	                        </div>
	                        {% endif %}  
				        
                      
                </div>  <hr>
                
                <div class="row">
                	<div class="col-md-8 mt3 left">
                		<section id="showcase-inner">
						 <h4 class="text-center mb-3">
						 	<i class="circle-up-right fa fa-arrow-circle-right"
										aria-hidden="true"></i>
						 Latest <span class="my_list_blue">Posts</span></h4>
					      
					
					      {% for feed in feeds %}
					        <div class="d-flex bd-highlight">
                        	  <div class="p-2 flex-fill bd-highlight">
                        	  	<!-- <div class="shadow"> -->
                        	  		<div class="card bg-light mb-3 px-3"style="max-width: 25rem;">
									  {% if feed.image %}
						                <div class="card-img-top">
						                	<img width="200" height="300" src="{{ feed.image.url }}" alt="">
						                </div>
						               {% else %}
						                <div class="card-img-top">
						                	<img width="100" height="100" src="{% static 'photos/feedholder.png' %}" alt="">
						                </div>
									   {% endif %}

										<small class="card-header text-muted">
										  Post by {{ feed.author|capfirst }} | {{ feed.date_posted | date:'M d, Y H:i, a' }}
										</small>

										<div class="card-body">
											<p card-text>
												<!-- Limited the words on the excerpts to 400 characters-->
												{{ feed.text|slice:":300" }}
											</p>
											 
											 <!-- Check for user authorization-->
											{% if not request.user.is_authenticated %}
											<small>Comments: {{ feed.comments.count }} comment {{ feed.comments.count|pluralize }}</small>
											 <button class="btn btn-primary btn-sm rounded-pill" data-toggle="modal" data-target="#authModal" href="{% url 'accounts:register' %}">Read More &rarr;</button>
											{% else %}
											<a href="{% url 'feed:feed_detail' pk=feed.pk  %}" class="text-muted"><small>Comments: {{ feed.comments.count }} comment {{ feed.comments.count|pluralize}}</small>
											</a>
											<a href="{% url 'feed:feed_detail' pk=feed.id  %}" class="btn btn-primary btn-sm">Read More &rarr;</a>
											{% endif %}
											
											 
										</div>
									</div>
							   <!-- </div> -->
							 </div>
		                    </div>
						   {% empty %}
					          <span class="card-text info"><h3>No feed has been added yet.</h3></span>
					       {% endfor %}
					</section>    
			  </div>
		    <!-- </div> -->
		    
		</div>
		
    </section>

</div>

{% block modals %}
<!--Modal: Login / Register Form-->

  <section>
       
    <div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
                </button>
              </div>

          <!--Modal cascading tabs-->
          <div class="modal-c-tabs">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
                  Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
                  Register</a>
              </li>
            </ul>

            <!-- Tab panels -->
            <div class="tab-content">
              <!--Panel 7-->
              <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

                <!--Body-->
               {% include 'accounts/login.html' %}

              </div>
              <!--/.Panel 7-->

              <!--Panel 8-->
              <div class="tab-pane fade" id="panel8" role="tabpanel">

                <!--Body-->
                <div class="modal-body">
                  {% include 'accounts/register.html' %}

                </div>
              </div>
              <!--/.Panel 8-->
            </div>

          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
  
  </section>
{% endblock modals %}
{% endblock %}