body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4feff;
}

/* Nav Bar */

/*reducing navbar height*/

.navbar-nav > li > a {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar {
  min-height: 32px !important;
}
/* end reducing navbar*/

.navbar-custom {
  background-color: #5f4dee;
  font: 700 0.875rem/0.875rem "Open Sans", sans-serif;
  box-shadow: 1rem;
  transition: all 0.2s;
}

.navbar-custom .container{
  max-width: 87.5rem;
}

.navbar-custom img {
  width: 2rem;
  /*height: 3.1rem;
   width: 80px;*/
}

.navbar-custom .logo-text {
  font-family: "Audiowide", cursive;
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 2px;
  margin-left: -5px;
}

.navbar-custom .navbar-nav {
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
}

.navbar-custom .nav-item .nav-link {
  padding: 0.6rem 0.7rem 0.6rem 0.7rem;
  color: #F7F5F5;
  opacity: 0.8;
  text-decoration: none;
  transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link:active {
  color: #FFF;
  opacity: 1;
}


.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-custom .navbar-toggler {
  padding: 0;
  border: none;
  color: #FFF;
  font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome .fas .fa-times{
  display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome .fas .fa-bars{
  display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome .fas .fa-bars{
  display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome .fas .fa-times{
  display: inline-block;
  margin-right: 0.125rem;
}



/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
  /* Navigation */
  .navbar-custom {
    padding: 2.125rem 1.5rem 2.125rem 2rem;
        background: transparent;
    box-shadow: none;
  }

  .navbar-custom .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar-custom .nav-item .nav-link {
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  }
  
  .navbar-custom .nav-item .nav-link:hover,
  .navbar-custom .nav-item .nav-link.active {
    opacity: 1;
  }

  .navbar-custom.top-nav-collapse {
        padding: 0.5rem 1.5rem 0.5rem 2rem;
    background-color: #5f4dee;
    box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
  }

  .navbar-custom.top-nav-collapse .nav-item .nav-link:hover,
  .navbar-custom.top-nav-collapse .nav-item .nav-link.active {
    color: #fff;
  }

  /* end of navigation */

/* Content */
.container .card {
  margin-top: 55px;
}

.container .card{
  box-shadow: 0 16px 48px #E3E7EB;
}

.jumbotron .card{
   box-shadow: 0 16px 48px #E3E7EB;
}

.masthead {
  background: #B0DCFC;
  height: 100px;
  padding-bottom: 5px;
  padding-top: 10px;
}

.card {
  border: none;
  box-shadow: 0 16px 48px #E3E7EB;
  display: inline-block;
}

.card-img-top img {
  display: block;
  width: 20%;
  height: 20%;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  opacity: 0.3;
}

.comment {
  margin: 20px 0px 20px 20px;
}

.container .topic {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*#showcase {
  background: url(../images/showcase6.jpg) no-repeat top center;
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#showcase .overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
  width: 100%;
  background: rgba(51, 51, 51, 0.8); 
  }*/


  /* Footer Section */

#footer{
  /* padding: 7% 15%; */
  text-align: center;
}

.social-icon{
  margin: 20px 10px ;
}

.white-section .footer-title-style a {
  margin-right: 0px;
  font-family: "Audiowide", cursive;
  font-size: 13px;
  text-align: center;
}

.white-section .footer-title-style a {

  text-decoration: none;
  color: #6258A6;
}

.white-section .copyright {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 14px;
  text-align: center;
  margin-top: -15px;
  color: #6258A6;
}

/*end footer*/