{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block title %} | Welcome {% endblock %}

{% block content %}
 <div class="container">
 	<div class="row">
 		<div class="col-md-8 card mb-4 mt-3">
 			<div class="card-body">
 				{% if new_comment %}
 				<div class="alert alert-success" role="alert">
 					Your comment is pending approval.
                </div>
                {% else %}
            </div>
 			<h5>Leave a comment</h5>
 			<div class="card-body">
 				<form class="form-group" method="post">
 					{% csrf_token %}
 					{{ form|crispy }}

 					<input type="submit" value="Send" class="save btn btn-primary rounded-pill">
 				</form>
 				{% endif %}
 				{% if approved %}
	 				<p>
	 					{% include 'partials/success.html' %}
	 				</p>
 				{% endif %}
 			</div>

 		</div>
 	</div>
 </div>
{% endblock %}