{% extends 'base.html' %}


{% block content %}

<div id="container">
      <!-- start header -->
  <div id="header">
    <div id="menu">
        <ul>
          <li class="current_page_item"><a href="/">Home</a></li>
          <li><a href="{% url 'feed:new_topic' %}">Topic</a></li>
          <li><a href="{% url 'accounts:get_user_profile' request.user.username %}">Profile</a></li>
          <li><a href="% url 'accounts:profile_detail' request.user.username %">Account</a></li>
          <li class="last"><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <!-- end header -->
  <!-- <div class="jumbotron"> -->
    <div class="row">
    
           <div class="container"> 
              <h3>All Topics</h3> 
            {% for topic in topics %}
           <!--  <div class="row">  -->
                    <div class="card-deck">
                
                        <div class="card">
                              {% if topic.action.image %}
                              <img class="card-img-top" src="{{ topic.image.image_url }}" alt=""> 
                              {% endif %}
                            <div class="card-block">
                              <div class="card-body"> 
                                  <h5 class="card-title"><a class="nav-link" href="{% url 'feed:topic' topic.id %}">{{ topic.action.name }}</a></h5> 
                                  <p class="card-text"> 
                                      Some quick example text to build on  
                                      the card title and make up the bulk  
                                      of the card's content. 
                                  </p> 
                                  <a href="{% url 'feed:new_feed' topic.id %}" class="btn btn-outline-primary btn-sm rounded-pill"> 
                                      New Feed 
                                  </a> 
                              </div>
                            </div>
                        </div>
                        
                    </div>
                
              
               
           <!--  </div> -->
          {% empty %}
            <li class="card-text"><h3>No feed has been added yet.</h3></li>
          {% endfor %}
        </div> 
     
    </div>
 <!--  </div> -->
</div>
{% endblock %}