{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load markdown_deux_tags %}

{% block content %}

  <div id="container">
	<div class="container">
		<div class="rows">
			<div class="col-lg-6 col-md-6 col-sm-6">
			  <div class="d-inline-flex bd-highlight">

	              <br>
				<div class="card-body">
				 	{% for comment in feed.comments.all %}
				 	 <!-- <div class="comments"> -->
				 	 	<p class="font-weight-bold">
				 	 		
					         {% if not comment.approved %}
						         <a href="{% url 'feed:comment_removed' pk=comment.pk %}">
						         	<i data-toggle="tooltip" data-placement="bottom" title="delete" class=" fas fa-times pr-2" aria-hidden="true"></i>
								 </a>
								 <a href="{% url 'feed:comment_approved' pk=comment.pk %}">
								 	<i data-toggle="tooltip" data-placement="bottom" title="approve" class=" fa fa-check pr-2" aria-hidden="true"></i>
						         </a>
				             {% endif %}

							 {#% if user.is_authenticated and comment.approved %#}
							  <!-- only allows user to delete his own comment -->
							 {% if  feed.comments.commented == request.user.userprofile and comment.approved %}
							   <a href="{% url 'feed:comment_removed' pk=comment.pk %}">
							   <i class="fa fa-trash"></i>
							   </a>
						     {% endif %}
				        </p>
				        <blockquote>

				         <small>Posted by:</small> <strong>{{ comment.user.username|capfirst }}</strong> - <small class="date text-muted">{{ comment.date_added}}</small>
				         <div id="captions">
				         	<div class="comment">
				         		<div class="caption" data-id="{{ comment.pk }}">
					         		<div class="usertext">
					         			 <!--  <p card-text>#{{ comment.content|slice:":300" }}</p> -->
									  	 <p class="mb-0"><small>{{ comment.content|markdown }}</small></p>
									        <!-- Comment like section -->
									        <div class="ml-1" id="like-section">
									         {% include 'partials/like_section.html' %}
										    </div>
										    <br>
									  	 	{% for reply in comment.replies.all %}
									  	 	<small>by <strong>{{ reply.user.username|capfirst }}</strong></small><p class="mb-0"><small>{{ reply.content|markdown }}</small></p>
									  	 	  <!-- Reply like section -->
									  	 	  <div id="like-reply-section">
									        	{% include 'partials/like_reply_section.html' %}
										      </div>
									  		{% endfor %}
									        
									  	 	<div class="panel-footer clearfix">
												<a href="" class="btn "><i class="fa fa-window-close" aria-hidden="true"></i>Cancel</a>

												<button class="reply-btn btn " type="button" data-id="{{ comment.pk }}"><i class="fa fa-reply-all"></i>Reply</button>
											</div>
				                            <div id="replyform-template" style="display: none;">
				                            <!-- <div class="comment-reply" style="display: none;"> -->
										 	    <form id="Form1" name="replyForm" action="{% url 'feed:feed_detail' feed.id %}" method="post">
											 	  	<input id="id-input" type="hidden" name="parent_id" value="{{ comment.pk }}">
											 	  	<div class="form-group">
											 	  		{% csrf_token %}
											 	  		<label for="reply">Reply:</label>
											 	  		<textarea id="contents" class="form-control form-rounded inputstl col-8" rows="2" type="text" name="content" placeholder="Replying... to {% if comment.user %} {{comment.user}} {% endif %}" required></textarea>
											 	  		<small id="charactersReplyLeft"></small>  
											 	  		<small id="repchar_count"></small>  
					                            		<!-- {{ form|crispy }} -->
											 	  		<!-- <textarea class="form-control" type="text" name="text"></textarea> -->
													   </div>
													<span><i class="fa fa-send sent-icon"></i></span>
											 	  	<input type="submit" class="btn btn-default pull-right reply" value="Send" name="replyForm">
											    </form>
									        </div>
					         		</div>
					         	</div>
				            </div>
				         </div>
				         
					  	 <p><small>Read time: {% if comment.read_time <= 1 %} < 1 Minute</small> {% else %}{{ comment.read_time }} minutes {% endif %}</p>
					  	 
						</blockquote>
				         <hr style='width:400px;'>
					     
					 <!-- </div> -->
					{% empty %}
					<p>No comments here yet :(</p>
					{% endfor %}
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>


<script type="text/javascript">
	// $(".reply-btn").on("click", function(){
	// 	$(".comment-reply").toggle();
	// });

// 	$(document).ready(function() {
// 		$(".reply-btn").click(function() {
//         $(".comment-reply").toggle();
//   });
// });

    var formTemplate = document.querySelector('#replyform-template form');
	var idInput = document.getElementById('id-input');

	function toggleReply(e) {
	  if (!formTemplate) return;

	  e.target.parentNode.insertBefore(formTemplate, e.target);
	  idInput.value = e.target.getAttribute('data-id');
	};

	Array.from(document.querySelectorAll('button.reply-btn'))
	  .forEach(btn => btn.onclick = toggleReply)


</script>
{% endblock %}