{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load markdown_deux_tags %}

{% block content %}

  <div id="container">
	<div class="container p-5">
		<div class="rows">
			<div class="col-lg-6 col-md-6 col-sm-6">
			  <div class="d-flex bd-highlight">
				<!-- {% if messages %}
	                {% for message in messages %}
	                  <p class="alert alert-info">{{ message }}</p>
	                {% endfor %}
	            {% endif %} -->
	              <br>
				<div class="card-body">
				 	{% for comment in feed.comments.all %}
				 	 <!-- <div class="comments"> -->
				 	 	<p class="font-weight-bold">
				 	 		
					         {% if not comment.approved %}
						         <a href="{% url 'feed:comment_removed' pk=comment.pk %}">
						         	<i data-toggle="tooltip" data-placement="bottom" title="delete" class=" fas fa-times pr-2" aria-hidden="true"></i>
								 </a>
								 <a href="{% url 'feed:comment_approved' pk=comment.pk %}">
								 	<i data-toggle="tooltip" data-placement="bottom" title="approve" class=" fa fa-check pr-2" aria-hidden="true"></i>
						         </a>
				             {% endif %}

				             {% if user.is_authenticated and comment.approved %}
							   <a href="{% url 'feed:comment_removed' pk=comment.pk %}">
							   <i class="fa fa-trash"></i>
							   </a>
						     {% endif %}
				        </p>
				        <blockquote>

				         <p> <small>Posted by:</small> <strong>{{ comment.user.username|capfirst }}</strong> - <small class="date text-muted">{{ comment.date_added}}</small></p>
					  	 <!--  <p card-text>#{{ comment.content|slice:":300" }}</p> -->
					  	 <p class="lead"><small>{{ comment.content|markdown }}</small></p>
					  
					  	 	{% for reply in comment.replies.all %}
					  	 	<p class="mb-0"><small>{{ reply.content|markdown }}</small></p>
					  	 	<small>by {{ reply.user.username|capfirst }}</small>
					  		{% endfor %}
					        
					  	 	<div class="panel-footer clearfix">
								<a href="" class="btn "><i class="fa fa-window-close" aria-hidden="true"></i>Cancel</a>

								<button class="reply btn " type="button" data-id="{{ comment.pk }}"><i class="fa fa-reply-all"></i>Reply</button>
							</div>
                            <div id="replyform-template" style="display: none;">
						 	    <form name="replyForm" action="{% url 'feed:feed_detail' feed.id %}" method="post">
							 	  	<input id="id-input" type="hidden" name="parent_id" value="{{ comment.pk }}">
							 	  	<div class="form-group">
							 	  		{% csrf_token %}
							 	  		<label for="reply">Reply:</label>
							 	  		<textarea class="form-control form-rounded inputstl col-8" rows="2" type="text" name="content" placeholder="Replying..." required></textarea>
	                            		<!-- {{ form|crispy }} -->
							 	  		<!-- <textarea class="form-control" type="text" name="text"></textarea> -->
							 	  	</div>
							 	  	<input type="submit" class="btn btn-default pull-right reply" value="Reply" name="replyForm">
							    </form>
					        </div>
					  	 <p><small>Read time: {% if comment.read_time <= 1 %} < 1 Minute</small> {% else %}{{ comment.read_time }} minutes {% endif %}</p>
					  	 
						</blockquote>
				        <!-- Like section -->
				        <div id="like-section">
				        	{% include 'partials/like_section.html' %}
					    </div>
					     
					 <!-- </div> -->
					{% empty %}
					<p>No comments here yet :(</p>
					{% endfor %}
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>
{% endblock %}