{% extends 'base.html' %}

{% block title %} | Welcome {% endblock %}


{% block content %}
 
   <div class="container">
	    <section id="feedcomment" class="py-5">
				<div class="jumbotron">
					<div class="row">
						<div class="col-md-8 card mb-4 mt-3 left top">
							 <!--  <h3 class="text-center mb-3">Feed comments</h3> -->
						      <div class="card-body">
						      	<h5>{% block page_header %} {{ feed.topic }} {% endblock page_header %}</h5>
						      	
						       
								   {% if feed.image %}
					                <div class="card-img-top">
					                	<img src="{{ feed.image.url }}" alt="">
					                </div>
								    {% endif %}
									   	<small class="card-header text-muted">
									   	  Post by {{ user.username }} | {{ feed.date_added | date:'M d, Y H:i, a' }}<br><br>
									   	</small>
									      
										<p card-text>
											<!-- Limited the words on the excerpts to 400 characters-->
											{{ feed.text|slice:":300" }}
										</p>
										
				                          
		                        		
									
									<a href="{% url 'feed:edit_feed' feed.id %}" class="btn btn-primary btn-sm rounded-pill">Edit Feed<i class="fas fa-pencil-alt"></i></a>
						      </div>


						     <!-- comments -->
                        		
                        		<small>{{ feed.comments.count}} comments</small>
						</div>

						{% block sidebar %} {% include 'partials/_sidebar.html' %} {% endblock sidebar %}

                        <div class="col-md-8 card mb-4 mt-3 ">
                        	<div class="card-body">
                        		
                        		<p>
                        		 
                        		   <a class="btn btn-secondary active btn-sm rounded-pill"
                        		    href="{% url 'feed:add_comment_feed' feed.id %}">Post Comment</a>
                        		  {% for comment in feed.comments.all %}
                        		   
                        		</p>
	                        		<div class="comments">
	                        			<p class="font-weight-bold">
	                        				<div class="date text-muted">{{ comment.date_added }}</div>
	                        				{% if not comment.approved %}

	                        				 <a class="btn btn-secondary active btn-sm" href="{% url 'feed:comment_removed' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>

	                        				 <a class="btn btn-secondary active btn-sm" href="{% url 'feed:comment_approved' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>

	                        				{% endif %}
	                        			</p>
	                        			<strong>{{ user.username }}</strong><br>
	                        			{{ comment.text|slice:":300" }}

	                        			<!--Likes & Dislikes-->
	                        			  <div class="container-1-box ">
											    <h3><span style='text-align: left;'>{{ topic.text }} </span> </h3>
											    <hr style='width:1080px;'>
											    <img src='{{ userprofile.picture.url }}' height=75 width=75 class='round'>

											    </img>
											    <p style='color:purple;' class='creator'><b>{{feed.user.username}}</b></p>
											    <form method="POST">
											      {% csrf_token %}

											      <div class="ui labeled button right" tabindex="0" name='dislikeVideo' onclick="window.location='{% url 'feed:like' pk=comment.id %}';">
											    </form>
											    <div class="ui purple button"><i class="thumbs down icon"></i> Dislike</div><a class="ui basic purple left pointing label">{{comment.dislikes}}</a></div>

											    <form method="POST">
											      {% csrf_token %}

											      <div class="ui labeled button right " tabindex="0" name='likeVideo' onclick="window.location='{% url 'feed:like' pk=comment.id %}';">

											    </form>
											    <div class="ui teal button"><i class="thumbs up icon"></i> Like</div>
											    <a class="ui basic teal left pointing label">
											      {{comment.likes}}
											    </a>
										  </div>

                                          <!-- End Likes & Dislikes-->

	                        			{% if user.is_authenticated %}

	                        			 <!-- protect data from other users-->
	                        			  {% if request.user == comment.user %}
	                        			   <a class="btn btn-primary btn-sm"  href="{% url 'feed:edit_comment' pk=comment.pk %}">Edit</a>
	                        			  {% endif %}
	                        			{% endif %}
	                        		</div>
	                        		
	                        	   {% empty %}
	                        	   	<p>No comments here yet :(</p>
	                        	   {% endfor %}
                        	</div> 
		                       
	                    </div>

					</div>
				  
			    </div>
		
	    </section>
  </div>
{% endblock %}