{% extends 'base.html' %}

{% block content %}

	<div class="container py-2">

		{% include 'partials/_topnote.html' %} 

		<br>
		
		<!-- Feeds column -->
	    <div class="row">
	      	<div class="col-md-8 mt3 left">
	      		<section id="showcase-inner">
					<div class="jumbotron">

						{% block page_header %}
						   <h5>{{ topic }}</h5>
						{% endblock page_header %}
						{% for feedlist in feed %}
						<div class="card bg-light mb-3 px-3"style="max-width: 25rem;">
						    {% if feedlist.image %}
	                            <div class="card-img-top">
	                            	<img src="{{ feedlist.image.url }}" alt="">
	                            </div>
							{% endif %} 
                                <h5 class="card-header text-muted">
                                	
									Post by {{ user.username }} | {{ feedlist.date_added | date:'M d, Y H:i, a' }}
								</h5>

								<div class="card-body">
									<p card-text>
										<!-- Limited the words on the excerpts to 400 characters-->
										{{ feedlist.text|slice:":400" }}
									</p>
									<a href="" class="btn btn-primary btn-sm">Read More &rarr;</a>
									
								</div>
						</div>
						  {% empty %}
		                 <li class="card-text"><h3>No feed has been added yet.</h3></li>
						{% endfor %}
					</div>
			    </section>
	      	</div>
		 </div>
	</div>
{% endblock %}