{% extends 'base.html' %}

{% block title %} | Welcome {% endblock %}


{% block content %}
 
   <div class="container">
	    <section id="feedcomment" class="py-5">
				<div class="jumbotron">
					<div class="row">
						<div class="col-md-8 card mb-4 mt-3 left top">
							 <!--  <h3 class="text-center mb-3">Feed comments</h3> -->
						      <div class="card-body">
						      	<h5>{% block page_header %} {{ feed.topic }} {% endblock page_header %}</h5>
						      	
						        <div class="card bg-light mb-3 px-3"style="max-width: 25rem;">
								   {% if feed.image %}
					                <div class="card-img-top">
					                	<img src="{{ feed.image.url }}" alt="">
					                </div>
								    {% endif %}
									   	<small class="card-header text-muted">
									   	  Post by {{ user.username }} | {{ feed.date_added | date:'M d, Y H:i, a' }}<br><br>
									   	</small>
									      
										<p card-text>
											<!-- Limited the words on the excerpts to 400 characters-->
											{{ feed.text|slice:":300" }}
										</p>
										{% if user.is_authenticated %}
				                           <a href="{% url 'feed:edit_feed' feed.id %}" class="btn btn-primary btn-sm">Edit Feed<i class="fas fa-pencil-alt"></i></a>
		                        		{% endif %}
									</div>

						      </div>
						     <!-- comments -->
                        		
                        		<small>{{ feed.comments.count}} comments</small>
						</div>

						{% block sidebar %} {% include 'partials/_sidebar.html' %} {% endblock sidebar %}

                        <div class="col-md-8 card mb-4 mt-3 ">
                        	<div class="card-body">
                        		
                        		<p>
                        		 
                        		   <a class="btn btn-secondary active btn-sm"
                        		    href="{% url 'feed:add_comment_feed' feed.id %}">Add Comment</a>
                        		  {% for comment in feed.comments.all %}
                        		   
                        		</p>
	                        		<div class="comments">
	                        			<p class="font-weight-bold">
	                        				<div class="date text-muted">{{ comment.date_added }}</div>
	                        				{% if not comment.approved %}

	                        				 <a class="btn btn-secondary active btn-sm" href="{% url 'feed:comment_removed' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>

	                        				 <a class="btn btn-secondary active btn-sm" href="{% url 'feed:comment_approved' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>

	                        				{% endif %}
	                        			</p>
	                        			<strong>{{ user.username }}</strong><br>
	                        			{{ comment.text|slice:":300" }}
	                        			{% if user.is_authenticated %}

	                        			 <!-- protect data from other users-->
	                        			  {% if request.user == comment.user %}
	                        			   <a class="btn btn-primary btn-sm"  href="{% url 'feed:edit_comment' pk=comment.pk %}">Edit</a>
	                        			  {% endif %}
	                        			{% endif %}
	                        		</div>
	                        		
	                        	   {% empty %}
	                        	   	<p>No comments here yet :(</p>
	                        	   {% endfor %}
                        	</div> 
		                       
	                    </div>

					</div>
				  
			    </div>
		
	    </section>
  </div>
{% endblock %}