{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
  <div id="container">
	  <!-- start header -->
	  <div id="header">

	    <div class="menu">
	      <ul class="sf-menu nav-menu">
	        <li class="current_page_item"><a href="/"><i class="fa fa-reply-all"></i> Go to Feeds</a></li>
	        <li><a href="{% url 'feed:new_topic' %}">Topic</a></li>
	        <li><a href="{% url 'accounts:get_user_profile' pk=user.id %}">Profile</a></li>
	        <li><a href="{% url 'accounts:profile_detail' pk=user.id %}">Account</a></li>
	        <li class="last"><a href="#">Contact</a></li>
	      </ul>
	    </div>

	  </div>
	  <!-- end header -->
	  <div class="clear"></div>
  
   <!-- start sidebar -->
    <div id="sidebar">
    	 {% include 'partials/_sidebar.html' %}
    </div>
    <!-- end sidebar -->
    
    <div id="container">
    	<div class="rows">
    		<div class="col-lg-6 col-md-6 col-sm-6">
    			 {% if messages %}
	              {% for message in messages %}
	                <p class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
	                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					  </button>
	                </p>
	              {% endfor %}
	          	 {% endif %}
	           <br>
	           <div class="shadow">
                <div class="card-body">
                	<div class="card shadow bg-light mb-3" style="max-width: 25rem;">
                		<small class="card-header text-muted">
                			<h5> Hello {{ user.username }} </h5>
				       		<p><a href="{% url 'feed:topic' pk=topic.id %}">{{ topic.action.name }}</a></p>
				        </small> 
				    </div>
				    <form class="form-group" action="{% url 'feed:new_feed' pk=topic.id %}" method="post" enctype="multipart/form-data">
					    {% csrf_token %}
					    {% crispy form %}
                        {{ form.media }}
					        <!-- {{ form|crispy}} -->
					    <input type="hidden" name="next" value="{{ next }}">
                        <br>
					      <!-- <input class="btn btn-primary btn-sm rounded-pill" type="submit" value="Post Feed">   -->
				    </form>
				   
                </div>
              </div>
            </div>
    	</div>
	</div>
</div>
{% endblock %}