<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
 <div id="form-template" style="display: none;">
 	  <form action="" method="POST" enctype="multipart/form-data">
 	  	<input id="id-input" type="hidden" name="id" value="">
 	  	<div class="form-group">
 	  		<label for="reply">Reply:</label>
 	  		<textarea class="form-control" type="text" name="text"></textarea>
 	  	</div>
 	  	<input type="submit" class="btn btn-default pull-right" value="submit">
	  </form>
  </div>
							<div class="container">
							  <div class="list-group">
							    <div class="panel panel-default">
							      <div class="panel-heading">
							        <h3 class="panel-title">Comment title</h3>
							      </div>
							      <div class="panel-body">
							        Comment content
							      </div>
							      <div class="panel-footer clearfix">
							        <button class="reply btn btn-default pull-right" type="button" data-id="24">Reply</button>
							      </div>
							    </div>
							    <div class="panel panel-default">
							      <div class="panel-heading">
							        <h3 class="panel-title">Comment title</h3>
							      </div>
							      <div class="panel-body">
							        Comment content
							      </div>
							      <div class="panel-footer clearfix">
							        <button class="reply btn btn-default pull-right" type="button" data-id="25">Reply</button>
							      </div>
							    </div>
							  </div>
							</div>


    <div id="form-template" style="display: none;">
					 	    <form name="cmntForm" action="{% url 'feed:add_comment_feed' feed.id %}" onsubmit="return validateForm()" method="POST">
						 	  	<input id="id-input" type="hidden" name="parent_id" value="{{ feed.comment.pk }}">
						 	  	<div class="form-group">
						 	  		{% csrf_token %}
						 	  		<textarea class="form-control form-rounded inputstl col-8" rows="2" type="text" name="content" placeholder="Type your comment"></textarea>
                            		<!-- {{ form|crispy }} -->
						 	  		<!-- <textarea class="form-control" type="text" name="text"></textarea> -->
						 	  	</div>
						 	  	<input type="submit" class="btn btn-default pull-right" value="Post" name="cmtForm">
						    </form>
					      </div>

</body>
<script type="text/javascript">
	var formTemplate = document.querySelector('#form-template form');
	var idInput = document.getElementById('id-input');

	function toggleReply(e) {
	  if (!formTemplate) return;

	  e.target.parentNode.insertBefore(formTemplate, e.target);
	  idInput.value = e.target.getAttribute('data-id');
	};

	Array.from(document.querySelectorAll('button.reply'))
	  .forEach(btn => btn.onclick = toggleReply)
</script>




<section class="cta-buttons">

    <div id="booknow" class="trigger" data-id="#booknow-form">
        <span class="btn">Book now</span>
    </div>

    <?php // FORMS TRIGGERED ON CLICK ?>

    <div id="booknow-form" class="form-container">BOOK NOW FORM
    	 <form name="replyForm" action="{% url 'feed:feed_detail' feed.id %}" method="post">
							 	  	<input id="id-input" type="hidden" name="parent_id" value="{{ comment.pk }}">
							 	  	<div class="form-group">
							 	  		{% csrf_token %}
							 	  		<label for="reply">Reply:</label>
							 	  		<textarea class="form-control form-rounded inputstl col-8" rows="2" type="text" name="content" placeholder="Replying..." required></textarea>
	                            		<!-- {{ form|crispy }} -->
							 	  		<!-- <textarea class="form-control" type="text" name="text"></textarea> -->
							 	  	</div>
							 	  	<input type="submit" class="btn btn-default pull-right reply" value="Reply" name="replyForm">
							    </form>
    </div>
</section>

<script type="text/javascript">
	$('.trigger').click(function () {
    var currentId = '#' + $('.form-container:visible').prop('id');
    var newId = $(this).data('rel');
    console.log(currentId)
    console.log(newId)
    $('.form-container').fadeOut();
    if (currentId != newId) {
        $(newId).fadeIn();
    }
});
</script>


<fieldset class="module aligned ">
    
    
    
        <div class="form-row field-user">
            
            
                <div>
                    
                    
                        <label class="required" for="id_user">User:</label>
                        
                            <div class="related-widget-wrapper">
    <select name="user" required="" id="id_user">
  <option value="" selected="">---------</option>

  <option value="1">paulbit</option>

  <option value="5">pbitusa</option>

</select>
    
        <a class="related-widget-wrapper-link change-related" id="change_id_user" data-href-template="/admin/auth/user/__fk__/change/?_to_field=id&amp;_popup=1" title="Change selected user"><img src="/static/admin/img/icon-changelink.svg" alt="Change"></a><a class="related-widget-wrapper-link add-related" id="add_id_user" href="/admin/auth/user/add/?_to_field=id&amp;_popup=1" title="Add another user"><img src="/static/admin/img/icon-addlink.svg" alt="Add"></a>
    
</div>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-name">
            
            
                <div>
                    
                    
                        <label class="required" for="id_name">Name:</label>
                        
                            <input type="text" name="name" class="vTextField" maxlength="100" required="" id="id_name">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-about_me">
            
            
                <div>
                    
                    
                        <label class="required" for="id_about_me">About me:</label>
                        
                            <textarea name="about_me" cols="40" rows="10" class="vLargeTextField" maxlength="150" required="" id="id_about_me"></textarea>
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-picture">
            
            
                <div>
                    
                    
                        <label for="id_picture">Picture:</label>
                        
                            <input type="file" name="picture" accept="image/*" id="id_picture">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-phone_no">
            
            
                <div>
                    
                    
                        <label class="required" for="id_phone_no">Phone no:</label>
                        
                            <input type="text" name="phone_no" class="vTextField" maxlength="15" required="" id="id_phone_no">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-birthdate">
            
            
                <div>
                    
                    
                        <label for="id_birthdate">Birthdate:</label>
                        
                            <input type="text" name="birthdate" class="vDateField" size="10" id="id_birthdate"><span class="datetimeshortcuts">&nbsp;<a href="#">Today</a>&nbsp;|&nbsp;<a href="#" id="calendarlink0"><span class="date-icon" title="Choose a Date"></span></a></span>
                        
                    
                    
                <br><span class="timezonewarning">Note: You are 5 hours behind server time.</span></div>
            
        </div>
    
        <div class="form-row field-city">
            
            
                <div>
                    
                    
                        <label class="required" for="id_city">City:</label>
                        
                            <input type="text" name="city" class="vTextField" maxlength="30" required="" id="id_city">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-state">
            
            
                <div>
                    
                    
                        <label class="required" for="id_state">State:</label>
                        
                            <input type="text" name="state" class="vTextField" maxlength="50" required="" id="id_state">
                        
                    
                    
                </div>
            
        </div>
    
        <div class="form-row field-status">
            
            
                <div>
                    
                    
                        <label for="id_status">Status:</label>
                        
                            <input type="text" name="status" class="vTextField" maxlength="200" id="id_status">
                        
                    
                    
                </div>
            
        </div>
    
</fieldset>


  <div class="card-body">
                    <form action="{% url 'accounts:profile_update' pk=user.id %}" method="post" enctype="multipart/form-data">

                       {% csrf_token %}
                       <input type="hidden" name="next" value="{{ next }}">

                       <div class="form-group">

                        <label for="id_name">Name:</label>
                        <input type="text" name="name" class="form-control form-rounded" id="id_name" required=""> <br>

                        <label for="id_about_me">About me:</label>
                        <textarea name="about_me" class="form-control form-rounded" placeholder="A short description of yourself..." id="id_about_me"></textarea> <br>
                        
                        <label for="id_picture">Picture:</label>
                        <input type="file" name="picture" id="id_picture"><br><br>

                        <label for="id_phone_no">Phone no:</label>
                        <input type="tel" name="phone_no" class="form-control form-rounded" id="id_phone_no" placeholder="Format: 555-555-5555" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"><br>

                        <label for="id_birthdate">Birthdate:</label>
                        <input type="date" name="birthdate" class="form-control form-rounded vDateField" id="id_birthdate" placeholder="YYYY/MM/DD"><br>

                        <label for="id_city">City:</label>
                        <input type="text" name="city" class="form-control form-rounded" id="id_city" placeholder="" required><br>

                        <label for="id_state">State:</label>
                        <input type="text" name="state" class="form-control form-rounded" id="id_state" placeholder="" required><br>

                        <label for="id_status">Status:</label>
                        <input type="text" name="status" class="form-control form-rounded" id="id_status" placeholder=""><br>
                        <!-- {{ form|crispy }} -->
                        {% crispy form %}
                        {{ formset.management_form }}
                        
                       </div><br>

                       <button class="btn btn-primary btn-block rounded-pill" type="submit"><strong>Update Profile</strong></button>
                    </form>
                  </div>

  <div class="form-group">
                       <!-- <label for="id_name">Name:</label>
                        <input type="text" name="name" class="form-control form-rounded" id="id_name" required=""> <br>

                        <label for="id_about_me">About me:</label>
                        <textarea name="about_me" class="form-control form-rounded" placeholder="A short description of yourself..." id="id_about_me"></textarea> <br>
                        
                        <label for="id_picture">Picture:</label>
                        <input type="file" name="picture" id="id_picture"><br><br>

                        <label for="id_phone_no">Phone no:</label>
                        <input type="tel" name="phone_no" class="form-control form-rounded" id="id_phone_no" placeholder="Format: 555-555-5555" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"><br>

                        <label for="id_birthdate">Birthdate:</label>
                        <input type="date" name="birthdate" class="form-control form-rounded vDateField" id="id_birthdate" placeholder="YYYY/MM/DD"><br>

                        <label for="id_city">City:</label>
                        <input type="text" name="city" class="form-control form-rounded" id="id_city" placeholder="" required><br>

                        <label for="id_state">State:</label>
                        <input type="text" name="state" class="form-control form-rounded" id="id_state" placeholder="" required><br>

                        <label for="id_status">Status:</label>
                        <input type="text" name="status" class="form-control form-rounded" id="id_status" placeholder=""> -->
                        <!-- {{ form|crispy }} -->
                        
                       <!--  {{ formset.management_form }}
                        {{ formset.as_p }} -->
                        
                       </div>



    <!--     <span class="">

            {% if member.followed %}
                <a class="btn btn-danger btn-sm rounded-pill" href="{% url 'accounts:unfollow' request.user.id  %}">Unfollow</a>
            {% else %}
                <a class="btn btn-primary btn-sm rounded-pill" href="{% url 'accounts:follow' request.user.id  %}">Follow</a>
            {% endif %}

        </span> -->

</html>
