{% extends 'base.html' %}

{% block content %}

<div class="container topic">
   {% for topic in topics %}
    <section id="showcase-inner">
      {% if topic.hot_topics %}
        <div class="item-box hot_topics">
      {% else %}
          <div class="item-box">
      {% endif %}
            <div class="item-iamge">
              <img src="{{ topic.image.url }}" alt="">
            </div>
               <div class='item-info'>
                  <h3>{{ topic.text }}</h3>
               </div>
          </div>

        </div>
      
       <h3><a class="btn btn-primary" href="{% url 'feed:new_topic' %}">New Feed</a></h3>
      
    </section>
    {% endfor %}
 </div>

 

{% endblock content %}