{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="X-UA-Compatible" content="ie=edge">

    <title>Tekit</title>

    {% include 'base/css.html' %}


</head>
<body>


    <!-- Navbar -->
    {% include 'partials/_navbar.html' %}
    
    <br><br>
    <main role="main" class="container">
        <div class="pb-2 mb-4 border-bottom">
            {% block page_header %}
           
            {% endblock page_header %}
        </div>
    </main>
 
    <div class="content container">
        <div class="row">
            <div class="col-lg-12 col-md-6">

                
                 <!-- Main Content -->
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    {% include 'base/js.html' %}

{% block javascript %}

<script type="text/javascript">
    $(document).on('click', '#like', function(event){
        event.preventDefault();
        var pk = $(this).attr('value');

        $.ajax({
            type: 'POST',
            url: "/like_comment/",
            data: {'id':pk, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
            dataType: 'json',
            success: function(response){
                console.log($('#like-section').html(response['form']));
            },
            error: function(rs, e){
                console.log(rs.e)
            },
        });
    });

</script>

{% endblock javascript %}

<!-- <script>
    $(document).ready(function(){
       $(document).on('click', '#like', function(event){
        event.preventDefault();
        var pk = $(this).attr('value');

        $.ajax({
            type: 'POST',
            url: "{% url 'like_comment' %}",
            data: {'id':pk, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
            dataType: 'json',
            success: function(data){
                console.log($('#like-section').html(data['form']));
            },
            error: function(rs, e){
                console.log(rs.e)
            },
        });
    });
    })
</script> -->

<!-- <script>
    $(document).ready(function(){
      {% block jquery %}{% endblock %}
    })
</script> -->
<!-- Go to Top Link -->
<a href="#" class="back-to-top">
    <i class="fas fa-chevron-up"></i>
</a>
</body>
</html>