body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4feff;
}

/* Nav Bar */

/*reducing navbar height*/

.navbar-nav > li > a {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar {
  min-height: 32px !important;
}
/* end reducing navbar*/

.navbar-custom {
  background-color: #5f4dee;
  font: 700 0.875rem/0.875rem "Open Sans", sans-serif;
  box-shadow: 1rem;
  transition: all 0.2s;
}

.navbar-custom .container{
  max-width: 87.5rem;
}

.navbar-custom img {
  width: 2rem;
  /*height: 3.1rem;
   width: 80px;*/
}

.navbar-custom .logo-text {
  font-family: "Audiowide", cursive;
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 2px;
  margin-left: -5px;
}

.navbar-custom .navbar-nav {
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
}

.navbar-custom .nav-item .nav-link {
  padding: 0.6rem 0.7rem 0.6rem 0.7rem;
  color: #F7F5F5;
  opacity: 0.8;
  text-decoration: none;
  transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link:active {
  color: #FFF;
  opacity: 1;
}


.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-custom .navbar-toggler {
  padding: 0;
  border: none;
  color: #FFF;
  font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome .fas .fa-times{
  display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome .fas .fa-bars{
  display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome .fas .fa-bars{
  display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome .fas .fa-times{
  display: inline-block;
  margin-right: 0.125rem;
}


/*Dropdown Menu*/

.navbar-custom .dropdown:hover > .dropdown-menu {
  display: block;
  min-width: auto;
  margin-left: -35px;
  -webkit-animation: fadeInUp 0.2ms;
  animation: fadeInUp 0.2ms;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.navbar-custom .dropdown-toggle:focus {
  outline: 0;
}

.navbar-custom .dropdown-menu {
  margin-top: 0;
  border: none;
  border-radius: 0.2rem;
  background-color: #59c0f8;
}

.navbar-custom .dropdown-item {
  color: #F7F5F5;
  opacity: 0.9;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;

}

.navbar-custom .dropdown-item:hover {
  background-color: #5f4dee;
  color: ;
  opacity: 1;
}

.navbar-custom .dropdown-items-divide-hr {
  width: 100%;
  height: 1px;
  margin: 0.75rem auto 0.725rem auto;
  border: none;
  /*background-color: #c4d8dc;*/
  background-color: #FFF;
  opacity: 0.2;
}

/* end of dropdown menu */

/* search section*/
.form-search {
    padding-left: 200px;
}
/* end search section */

/*****Login section
******/
.login-container {
  height: 100%;
  align-content: center;
  padding-top: 50px;
}

.login {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(255, 255, 255) !important;
}

.register {
  height: 400px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(255, 255, 255) !important;
}


#form_right {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 5% 5%;
}


/* Social button section */
.social_icon span {
  font-size: 60px;
  margin-left: 10px;
 /* color: #0576bc;*/
}

.social_icon span:hover {
  /*color: #FFF;*/
  cursor: pointer;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -55px;
}


.icon-button {
  background-color: white;
  border-radius: 3.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 2.0rem;
  height: 3.6rem;
  line-height: 3.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 3.6rem;
}

.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 3.6rem;
  margin: -1.8rem;
}
.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3B5998;
}
.google-plus span {
  background-color: #db5a3c;
}

.icon-button i {
  background: none;
  color: white;
  height: 3.6rem;
  left: 0;
  line-height: 3.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 3.6rem;
  z-index: 10;
}
.icon-button .fa-twitter-square {
  color: #4099ff;
}
.icon-button .fa-facebook-square {
  color: #3B5998;
}
.icon-button .fa-google-plus-square {
  color: #db5a3c;
}


.icon-button:hover .fa-twitter-square,
.icon-button:hover .fa-facebook-square,
.icon-button:hover .fa-google-plus-square {
  color: #4099ff;
}
/* End social*/


.input-group-prepend span {
  width: 50px;
 /* background-color: #FFC312;*/
  color: black;
  border: 0 !important;
}


input[type="text"]:focus,
[type="password"]:focus{
  border: 2px solid #862d59;
  outline: none;
  box-shadow: 0 0 0 0 !important;
}

input [type="email"] {
  color:  #862d59;
}

input:focus {
  border: 2px solid red;
}

.form-rounded {
  border-radius: 1rem;
}

.input-group-text {
  border-radius: 1rem;
}


#login-help-text a {
  text-decoration: none;
}

#signup-text {
  display: block;
  position: relative;
  top: 30px;
}

#signup-text a {
  text-decoration: none;
  color: 
}

/* Change styles for span on extra small screens */
@media screen and (max-width: 300px) {
  span.signup-text {
    display: block;
    float: none;
  }
}

/**End Login**/

/*form {
  width: 406px;
  margin: 170px auto 0;
 }*/

.modal-content {
  /*background-color: #331a00;
  color: #b3c6ff;*/
}

.modal-content h5 {
  color: #ffcc00;
}

.close {
  color: #5f4dee;
}

/*.modal-content button {
  background-color: #5f4dee;
  color: #5f4dee;
}*/

.modal-body {
  max-height: 800px;
}

.modal-dialog {
  max-height: 800px;
}

/*.modal-dialog {
  margin: 2px auto;
  z-index: 900 !important;
}*/

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
  /* Navigation */
  .navbar-custom {
    padding: 2.125rem 1.5rem 2.125rem 2rem;
        background: transparent;
    box-shadow: none;
  }

  .navbar-custom .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar-custom .nav-item .nav-link {
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  }
  
  .navbar-custom .nav-item .nav-link:hover,
  .navbar-custom .nav-item .nav-link.active {
    opacity: 1;
  }

  .navbar-custom.top-nav-collapse {
        padding: 0.5rem 1.5rem 0.5rem 2rem;
    background-color: #5f4dee;
    box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
  }

  .navbar-custom.top-nav-collapse .nav-item .nav-link:hover,
  .navbar-custom.top-nav-collapse .nav-item .nav-link.active {
    color: #fff;
  }

  /* end of navigation */

/* Content */

#content {
  border-bottom: 3px solid #59C0F8;
  border-top: 3px solid #59C0F8;
}


.top-feed-container .card {
  margin-top: 55px;
  box-shadow: 0 16px 48px #E3E7EB;
}


.jumbotron .card{
   box-shadow: 0 16px 48px #E3E7EB;
}

.masthead {
  background: #B0DCFC;
  height: 100px;
  padding-bottom: 5px;
  padding-top: 10px;
}

.top-feed-container .card {
  border: none;
  box-shadow: 0 16px 48px #E3E7EB;
  display: inline-block;
}

.card-img-top img {
/*  display: block;
  width: 20%;
  height: 20%;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  opacity: 0.3;*/
}

.card-img-top {
   display: block;
   max-width: 80%;
   height: auto;
}

  

/* manage error */
.error_msg {
    background-color: red;
    border: 1px solid black;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}
.success_msg {
    background-color: blue;
    border: 1px solid black;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}


/** comment**/

/*.comments {
  margin: 20px 0px 20px 20px;
  background-color: powderblue;
}*/


.clearfix .cmt-btn {
  align-items: center;
  color: #606770;
  /* display: flex;*/
  flex: 1 0;
  font-weight: 600;
  height: 32px;
  justify-content: center;
  line-height: 14px;
  padding: 0 2px;
  position: relative;
  text-decoration: none;
  transition: 400ms cubic-bezier(.08,.52,.52,1) transform;
}

.container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.container-1-box {
  flex-basis: 54%;
}

.right {
  float: right;
  padding: 5px;
}

.left {
  float: left;
}

.round {
  border-color:black;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 50px;
}

.creator {
  margin-top:-55px;
  margin-left:95px;
  font-size:2rem;
}

/**end comment**/

/*success message adn alert*/
.success {
  background-color: rgba(0, 128, 0, 0.15);
  padding: 10px;
  text-align: center;
  color: green;
  border: 1px solid green;
  border-radius: 3px;
}
/*end success and alert*/


.circle-up {
  color:red
}

/* S I D E B A R */

#container {
  background: #FFF;
  text-align: left;
  min-height: 600px;
  -moz-box-shadow: 0 10px 30px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 10px 30px rgba(0,0,0,.3);
  box-shadow: 0 10px 30px rgba(0,0,0,.3);
  padding-top: 20px;
}





/*aside {
  width: 300px;
  float: right;
  padding: 0px 0px 0px 20px;
  display: block;
}

aside .card .card-widget {
  border-color: #F0F0F0;
}

.col-right .sidebar {
  padding-top: 25px;
}

.col-right {
  height: auto !important;
}*/

/*.sidebar .card-widget {
  border-color: red;
  background-color: #F0F0F0;
  position: relative;
  border: 1px solid #F0F0F0;
  border-radius: 2px;
  box-shadow: 2px;
}*/



@media (max-width: 1023px) and (min-width: 641px)
  .col-right aside {
    width: 50%;
    float: left;
}

@media (min-width: 576px) {
  .jumbotron {
    padding-bottom: 0; 
}
}


/*END S I D E B A R*/

/*P r e l o a d e r*/

.preloader {
  background-color:#f7f7f7;
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:999999;
  -webkit-transition:.6s;
  -o-transition:.6s;
  transition:.6s;
  margin:0 auto
}

.preloader .preloader-circle{
  width:100px;
  height:100px;
  position:relative;
  border-style:solid;
  border-width:3px;
  border-top-color:#8f1bdc;
  border-bottom-color:transparent;
  border-left-color:transparent;
  border-right-color:transparent;
  z-index:10;
  border-radius:50%;
  -webkit-box-shadow:0 1px 5px 0 rgba(35,181,185,0.15);
  box-shadow:0 1px 5px 0 rgba(35,181,185,0.15);
  background-color:#ffffff;
  -webkit-animation:zoom 2000ms infinite ease;
  animation:zoom 2000ms infinite ease;
  -webkit-transition:.6s;
  -o-transition:.6s;
  transition:.6s;
}

.preloader .preloader-circle2 {
  border-top-color:#0078ff
}

.preloader .preloader-img {
  position:absolute;
  top:40%;
  z-index:100;
  left:0;
  right:0;
  margin:0 auto;
  text-align:center;
  display:inline-block;
  -webkit-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  transform:translateY(-50%);
  padding-top:10px;
  -webkit-transition:.6s;
  -o-transition:.6s;
  transition:.6s;
}

.preloader .preloader-img img {
  width: 50px;
  height: 50px;
}

.preloader .preloader-img img {
  max-width:55px
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition:.6s;
  -o-transition:.6s;
  transition:.6s;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition:.6s;
  -o-transition:.6s;
  transition:.6s;
  }
}
@keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



.preloader .pre-text h3 {
  font-family: "Audiowide", cursive;
  font-size: 1.2rem;
  font-weight: 700;
}

/********End Preloader**********/




/*#showcase {
  background: url(../images/showcase6.jpg) no-repeat top center;
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#showcase .overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
  width: 100%;
  background: rgba(51, 51, 51, 0.8); 
  }*/


  /* Footer Section */

#footer{
  /* padding: 7% 15%; */
  text-align: center;
}

.social-icon{
  margin: 20px 10px ;
}

.white-section .footer-title-style a {
  margin-right: 0px;
  font-family: "Audiowide", cursive;
  font-size: 13px;
  text-align: center;
}

.white-section .footer-title-style a {

  text-decoration: none;
  color: #6258A6;
}

.white-section .copyright {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 14px;
  text-align: center;
  margin-top: -15px;
  color: #6258A6;
}

/*end footer*/

/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #00b4d9;
  border-radius: 2px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

a.back-to-top:hover, a.back-to-top:focus {
  text-decoration: none;
}

#header {
  height: 42px;
}

#menu {
  float: right;
}

#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu li {
  display: block;
  float: left;
  height: 42px;
}
#menu a {
  display: block;
  padding: 2px 20px 2px 20px;
  margin-top: 10px;
  margin-right: 2px;
  background: #59C0F8;
  text-decoration: none;
  text-align: center;
  /*text-transform: lowercase;*/
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #FFF;
  cursor: pointer;
  background: #59c0f8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#menu .last {
  margin-right: 20px;
}

#menu a:hover {
  color: #5f4dee;
}

#menu .current_page_item {

}
#menu .current_page_item a {

}

#sidebar {
  float: right;
  width: 300px;
  margin-top: 55px;
  background: #FFF;
  border-bottom: 3px solid #59C0F8;
  border-top: 3px solid #59C0F8;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar li {
  margin-bottom: 10px;
  }

#sidebar li ul {
  padding: 0 30px 40px 30px;
}

#sidebar li li {
  margin: 0;
  padding-left: 30px;
}

#sidebar h2 {
  padding: 0px 30px 10px 30px;
  background: url(../images/sidebar_background.jpg) no-repeat;
  text-transform: lowercase;
  font-weight: normal;
  font-size: 1.6em;
  color: #302D26;
}

#categories li {
  width: 145px;
  padding-left: 5px;
  font-size: .75em;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  font-weight: 700;
}

.profil-img {
  display: block;
  max-width: 20%;
  height: auto;
}